{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>Online Bazar | Order Confirmation Page</title>
{% endblock %}

{% block body %}
<h4 class="background text-light text-center p-2 mt-5 mb-3">Your Order Has been Placed!!!</h4>
<div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
        <a href="/shop/All/All/All/" class="btn w-100 background text-light fs-5 mt-3" style="margin-bottom: 280px;">Shop More</a>
    </div>
    <div class="col-4">
    </div>
</div>
{% endblock %}