{% extends 'index.html'%}
{%load static %}

{% load product %}

{%block title%}
<title>Online Bazar | Edit Product Page</title>
{%endblock%}

{% block body %}
<h4 class="background text-light p-2 text-center mt-3">Edit Product Section</h4>
<div class="container mb-2">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-lg-12 col-sm-12 col-12">
            <label class="form-label">Product Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter Product Name"
                value="{{Product.name}}">
        </div>
        <div class="row mt-2">
            <div class="col-lg-3 col-sm-12 col-12">
                <label class="form-label">Maincategory</label>
                <select name="maincategory" class="form-control">
                    <option value="{{Product.maincategory}}">{{Product.maincategory}}</option>
                    {% for i in Maincategory %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor%}
                </select>
            </div>
            <div class="col-lg-3 col-sm-12 col-12">
                <label class="form-label">Subcategory</label>
                <select name="subcategory" class="form-control">
                    <option value="{{Product.subcategory}}">{{Product.subcategory}}</option>
                    {% for i in Subcategory %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor%}
                </select>
            </div>
            <div class="col-lg-3 col-sm-12 col-12">
                <label class="form-label">Brand</label>
                <select name="brand" class="form-control">
                    <option value="{{Product.brand}}">{{Product.brand}}</option>
                    {% for i in Brand %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor%}

                </select>
            </div>
            <div class="col-lg-3 col-sm-12 col-12">
                <label class="form-label">Stock</label>
                <select name="stock" class="form-control">
                    <option value="In Stock">In Stock</option>
                    <option value="Out of Stock">Out of Stock</option>
                </select>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6 col-sm-12 col-12">
                <label class="form-label">Baseprice</label>
                <input type="text" class="form-control" name="baseprice" placeholder="Enter Product's Baseprice"
                    value="{{Product.baseprice}}">
            </div>
            <div class="col-lg-6 col-sm-12 col-12">
                <label class="form-label"> Discount</label>
                <input type="number" class="form-control" name="discount" min="0" max="100" placeholder="Enter Discount"
                    value="{{Product.discount}}">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-lg-12 col-sm-12 col-12">
                <label class="form-label">Colour</label>
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.color|checkcolor:'Red' %}
                            <input class="form-check-input" type="checkbox" value="Red" name="Red" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="Red" name="Red">
                            {% endif %}
                            <label class="form-check-label" for="Red">
                                Red
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.color|checkcolor:'Green' %}
                            <input class="form-check-input" type="checkbox" value="Green" name="Green" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="Green" name="Green">
                            {% endif %}
                            <label class="form-check-label" for="Green">
                                Green
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.color|checkcolor:'Yellow' %}
                            <input class="form-check-input" type="checkbox" value="Yellow" name="Yellow" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="Yellow" name="Yellow">
                            {% endif %}
                            <label class="form-check-label" for="Yellow">
                                Yellow
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.color|checkcolor:'Pink' %}
                            <input class="form-check-input" type="checkbox" value="Pink" name="Pink" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="Pink" name="Pink">
                            {% endif %}
                            <label class="form-check-label" for="Pink">
                                Pink
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.color|checkcolor:'White' %}
                            <input class="form-check-input" type="checkbox" value="White" name="White" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="White" name="White">
                            {% endif %}
                            <label class="form-check-label" for="White">
                                White
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.color|checkcolor:'Black' %}
                            <input class="form-check-input" type="checkbox" value="Black" name="Black" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="Black" name="Black">
                            {% endif %}
                            <label class="form-check-label" for="Black">
                                Black
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.color|checkcolor:'Blue' %}
                            <input class="form-check-input" type="checkbox" value="Blue" name="Blue" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="Blue" name="Blue">
                            {% endif %}
                            <label class="form-check-label" for="Blue">
                                Blue
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.color|checkcolor:'Brown' %}
                            <input class="form-check-input" type="checkbox" value="Brown" name="Brown" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="Brown" name="Brown">
                            {% endif %}
                            <label class="form-check-label" for="Brown">
                                Brown
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.color|checkcolor:'SkyBlue' %}
                            <input class="form-check-input" type="checkbox" value="SkyBlue" name="SkyBlue" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="SkyBlue" name="SkyBlue">
                            {% endif %}
                            <label class="form-check-label" for="SkyBlue">
                                SkyBlue
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.color|checkcolor:'Orange' %}
                            <input class="form-check-input" type="checkbox" value="Orange" name="Orange" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="Orange" name="Orange">
                            {% endif %}
                            <label class="form-check-label" for="Orange">
                                Orange
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.color|checkcolor:'Navy' %}
                            <input class="form-check-input" type="checkbox" value="Navy" name="Navy" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="Navy" name="Navy">
                            {% endif %}
                            <label class="form-check-label" for="Navy">
                                Navy
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.color|checkcolor:'Gray' %}
                            <input class="form-check-input" type="checkbox" value="Gray" name="Gray" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="Gray" name="Gray">
                            {% endif %}
                            <label class="form-check-label" for="Gray">
                                Gray
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-12 col-sm-12 col-12">
                <label class="form-label">Size</label>
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.size|checksize:'S' %}
                            <input class="form-check-input" type="checkbox" value="S" name="S" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="S" name="S">
                            {% endif %}
                            <label class="form-check-label" for="S">
                                S
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.size|checksize:'SM' %}
                            <input class="form-check-input" type="checkbox" value="SM" name="SM" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="SM" name="SM">
                            {% endif %}
                            <label class="form-check-label" for="SM">
                                SM
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.size|checksize:'M' %}
                            <input class="form-check-input" type="checkbox" value="M" name="M" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="M" name="M">
                            {% endif %}
                            <label class="form-check-label" for="M">
                                M
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.size|checksize:'L' %}
                            <input class="form-check-input" type="checkbox" value="L" name="L" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="L" name="L">
                            {% endif %}
                            <label class="form-check-label" for="L">
                                L
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.size|checksize:'XL' %}
                            <input class="form-check-input" type="checkbox" value="XL" name="S" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="XL" name="XL">
                            {% endif %}
                            <label class="form-check-label" for="XL">
                                XL
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.size|checksize:'XXL' %}
                            <input class="form-check-input" type="checkbox" value="XXL" name="XXL" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="XXL" name="XXL">
                            {% endif %}
                            <label class="form-check-label" for="XXL">
                                XXL
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.size|checksize:'XXXL' %}
                            <input class="form-check-input" type="checkbox" value="XXXL" name="XXXL" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="XXXL" name="XXXL">
                            {% endif %}
                            <label class="form-check-label" for="XXXL">
                                XXXL
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.size|checksize:'5' %}
                            <input class="form-check-input" type="checkbox" value="5" name="5" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="5" name="5">
                            {% endif %}
                            <label class="form-check-label" for="5">
                                5
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.size|checksize:'6' %}
                            <input class="form-check-input" type="checkbox" value="6" name="6" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="6" name="6">
                            {% endif %}
                            <label class="form-check-label" for="6">
                                6
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.size|checksize:'7' %}
                            <input class="form-check-input" type="checkbox" value="7" name="7" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="7" name="7">
                            {% endif %}
                            <label class="form-check-label" for="7">
                                7
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.size|checksize:'8' %}
                            <input class="form-check-input" type="checkbox" value="8" name="8" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="8" name="8">
                            {% endif %}
                            <label class="form-check-label" for="8">
                                8
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            {% if Product.size|checksize:'9' %}
                            <input class="form-check-input" type="checkbox" value="9" name="9" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="9" name="9">
                            {% endif %}
                            <label class="form-check-label" for="9">
                                9
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12 col-12 mt-2">
            <label class="form-label">Description</label>
            <Textarea name="description" rows="5" class="form-control">{{Product.description}}</Textarea>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6 col-sm-12 col-12">
                <label class="form-label">Product Image 1</label>
                <input type="file" class="form-control" name="pic1">
            </div>
            <div class="col-lg-6 col-sm-12 col-12">
                <label class="form-label">Product Image 2</label>
                <input type="file" class="form-control" name="pic2">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6 col-sm-12 col-12">
                <label class="form-label">Product Image 3</label>
                <input type="file" class="form-control" name="pic3">
            </div>
            <div class="col-lg-6 col-sm-12 col-12">
                <label class="form-label">Product Image 4</label>
                <input type="file" class="form-control" name="pic4">
            </div>
        </div>
        <button type="submit" class="btn background p-2 text-light w-100 mt-3">Submit</button>
    </form>


</div>
{% endblock %}